/*=================== style start ==================*/
a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	color: #04a45c;
	outline: none;
	text-decoration: none;
}
a:hover, a:focus {
	color: #000;
	outline:none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
}
.right {
	float: right;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
.popup_wrap{
	padding:20px;
	background:#fff;
	border-radius:5px;
}
.orng_col{
	color:#33cc33;
}
.popup h2{
	font-size:24px;
	line-height:26px;
	text-transform:capitalize;
	font-weight:bold;
	color:#000;
	padding-bottom:20px;
	margin:0;
}
.popup h2 span{
	display:inline-block;
	font-size:20px;
	line-height:22px;
	cursor:pointer;
	font-weight:normal;
}
.popup_wrap{
	padding:20px;
}
.popup_inner{
	border:2px dashed #d7d7d7;
	padding:20px 10px;
	margin-bottom:20px;
}
.li_red_col{
	color:#ff6735;
}
.popup_inner p.li_red_col{
	padding-bottom:10px;
}
.popup h3{
	color:#000;
	font-size:22px;
	line-height:24px;
	text-transform:capitalize;
	font-weight:normal;
	padding-bottom:20px;
	margin:0;
}
.location_list_sec h3{
	color:#000;
	font-size:22px;
	line-height:24px;
	text-transform:capitalize;
	font-weight:normal;
	padding-bottom:10px;
	margin:0 0 10px;
	border-bottom:1px solid #d7d7d7;
}
.btn_orn{
	display:inline-block;
	font-size:18px;
	line-height:20px;
	padding:10px 20px;
	color:#fff;
	background:#33cc33;
	border:2px solid #33cc33;
	border-radius:4px;
}
.btn_orn:hover{
	border-color:#000;
	color:#000;
}
.ass_col{
	color:#bfbfbf;
}
.ass_col:hover{
	color:#000;
}
.table tr{
	border-bottom:1px solid #bfbfbf;
}
.table tr td{
	padding:10px;
	border:none !important;
	vertical-align:middle !important;
}
.table tr p{
	padding:5px 0;
}
.table{
	font-size:16px;
}
.banner{
	width:100%;
	background:#012229;
}
.banner h2{
	padding-bottom:50px;
	color:#fff;
	font-size:28px;
	line-height:30px;
}
.coupons_ban_img{
	display:inline-block;
	vertical-align:top;
	width:29.5%;
}
.coupons_ban_img img{
	width:100%;
}
.coupons_srch{
	display:inline-block;
	vertical-align:top;
	width:69.5%;
	padding-left:50px;
}
.coupons_srch .form-control{
	height:50px;
	line-height:50px;
	width:100%;
	border:none;
	border-bottom:2px solid #fff;
	color:#999999;
	font-size:16px;
	box-shadow:none;
	outline:none;
	background:#012229;
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
	background:#fff;
}
.coupons_srch .form-control:focus{
	background:#02343f;
	color:#fff;
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
	border-radius:0;
}
.coupons_srch_inner .btn_orn{
	height:50px;
	line-height:46px;
	padding:0 20px;
	vertical-align:middle;
	margin-left:15px;
}
.coupons_srch_inner .btn_orn:hover{
	border-color:#33cc33 ;
}
.coupons_srch{
	padding-top:30px;
}
.form-group{
	width:50%;
}
@media screen and (max-width: 767px){
	.coupons_ban_img{
		display:none;
	}
	.coupons_srch{
		width:100%;
		padding:10px;
	}
	.coupons_srch_inner .form-group{
		display:inline-block;
		vertical-align:middle;
		margin:0;
	}
	.coupons_srch{
		text-align:center;
	}
	.banner h2{
		padding-bottom:20px;
	}
}
/*=================== style end ==================*/